<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/cards.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
        .modalbdy {
            position: fixed;
            width: 70%;
            text-align: center;
            top: 5%;
            left: 50%;
            padding: 10px;
            transform: translate(-50%, -5%);
            overflow-x: hidden;
            overflow-y: auto;
        }
    </style>
</head>
<body>

<div class="row" id="row"></div>

<script>
    // When the user clicks anywhere outside of the modal, close it
$(document).mouseup(function(event) {
    if (event.target.id === $('#id01').attr('id')) {
        $('#id01').css('display', 'none')
    }
    if (event.target.id === $('#id02').attr('id')) {
        $('#id02').css('display', 'none')
    }
    if (event.target.id === $('#id03').attr('id')) {
        $('#id03').css('display', 'none')
    }
    if (event.target.id === $('#id04').attr('id')) {
        $('#id04').css('display', 'none')
    }
    if (event.target.id === $('#id05').attr('id')) {
        $('#id05').css('display', 'none')
    }
});

function edit(email) {
    $('#id01').css('display', 'block')
    console.log(email)
    $('#updatemail').attr('value', email)
}

function remove(email) {
    $('#id02').css('display', 'block')
    console.log(email)
    $('#deletemail').attr('value', email)
}

function message(email) {
    $('#id03').css('display', 'block')
    console.log(email)
    $('#sendmail').attr('value', email)
}

function add() {
    $('#id05').css('display', 'block')
}

function chat(email) {
    $('#id04').css('display', 'block')
    console.log(email)
    $('#customerEmail').attr('value', email)
}

function getdashBoard() {
    $.ajax({
        url: `<%= dashboardEndpoint %>`,
        method: 'GET',
        dataType: 'json',
        success: function(response) {
            var responseValue = response.values;
            var html_file = ""
            for(var i = 0; i < responseValue.length; i++) {
                html_file +=
                    `<div class="column">
                        <div class="card">
                            <p> ${responseValue[i].name} </p>
                            <button onclick=remove('${responseValue[i].email}') style="width:auto;background-color:red"><i class="fa fa-trash"></i></button>
                            <button onclick=edit('${responseValue[i].email}') style="width:auto;"><i class="fa fa-edit"></i></button>
                            <button onclick=message('${responseValue[i].email}') style="width:auto;background-color:blueviolet"><i class="fa fa-envelope"></i></button>
                            <button onclick=chat('${responseValue[i].email}') style="width:auto;background-color:darkcyan"><i class="fa fa-arrow-right"></i></button>
                            <div id="id01" class="modal">
                                <div class="container modal-content animate">
                                    <input id="updatemail" type="hidden" value="" name="email" readonly="readonly"/>
                                    <input type="text" placeholder="name" id="id01-name" name="name">
                                    <p></p><br>
                                    <input type="text" placeholder="phone" id="id01-phone" name="phone">
                                    <p></p><br>
                                    <input type="text" placeholder="reminder frequency" id="id01-rem" name="remfreq">
                                    <p></p><br>
                                    <button type="submit" id="update-btn">Update</button>
                                </div>
                            </div>
                            <div id="id02" class="modal">
                                <div class="container modal-content animate">
                                    <input id="deletemail" type="hidden" value="" name="email" readonly="readonly"/>
                                    <button type="submit" id="delete-btn" style="background-color: cadetblue;"><i class="fa fa-warning" style="font-size:28px;color:red"> Delete</i></button>
                                </div>
                            </div>
                            <div id="id03" class="modal">
                                <div class="container modal-content animate">
                                    <div id="email-status"></div>
                                    <div>
                                        <div>
                                            <input type="text" id="sendmail" name="email" value="" readonly>
                                            <p></p><br>
                                        </div>
                                        <div>
                                            <input type="text" name="subject" id="email-subject" placeholder="subject" required>
                                            <p></p><br>
                                        </div>
                                        <div>
                                            <textarea type="textarea" name="body" id="email-body" placeholder="Message body Here" rows="7" cols="69"></textarea>
                                            <p></p><br>
                                        </div>
                                        <button type="submit" id="email-btn" style="background-color: darkviolet;"><p style="color: white;font-size:100%;"><b>Send</b></p></button>
                                    </div>
                                </div>
                            </div>
                            <div id="id04" class="modal modalbdy">
                                <div class="xyz" id="chat-div">
                                    <input id="customerEmail" type="hidden" value="" name="email" id="receiver-id" readonly="readonly"/>
                                    <div id="load-chat"></div>
                                    <div>
                                        <input type="text" name="chatmsg" placeholder="Type Message" id="chat-msg" required> <input type="submit" id="chat-btn" style="float: right;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`
            }
            html_file += `
                <div class="column">
                    <div class="card">
                        <p>Add new Customer</p>
                        <button onclick="add()" style="width:auto;background-color:chartreuse"><i class="fa fa-plus-square"></i></button>
                        <div id="id05" class="modal">
                            <div class="container modal-content animate">
                                <input type="text" placeholder="name" name="name" id="id05_name" required/>
                                <input type="text" placeholder="email" name="email" id="id05_email"  required/>
                                <input type="text" placeholder="phone" name="phone" id="id05_phone" required/>
                                <input type="text" placeholder="GST Number" name="gst" id="id05_gst" required/>
                                <input type="text" placeholder="reminder frequency" id="id05_remfreq" name="remfreq">
                                <button type="submit" id="insert-btn">Add</button>
                            </div>
                        </div>
                    </div>
                </div>`
            $('#row').html(html_file)
        }
    })
}

$(document).on('click', '#email-btn', function() {
    var receiver = document.getElementById('sendmail').value
    var subject = document.getElementById("email-subject").value
    var email_body = document.getElementById("email-body").value
    if($.trim(subject) != '' && $.trim(email_body) != '' && $.trim(receiver) != '') {
        $.ajax({
            url : "<%= emailEndpoint %>",
            method: "POST",
            data: {'email': receiver, 'subject' : subject, "body" : email_body},
            dataType: "text",
            success : function(data) {
                document.getElementById("email-subject").value = ""
                document.getElementById("email-body").value = ""
                var html_file =
                `<div class="alert success">
                    <span class="closebtn">&times;</span>
                    <strong>Success!</strong> Your email has been sent to <i>${receiver}</i>.
                    </div>`
                $('#email-status').html(html_file).fadeIn('slow')
            },
            error: function() {
                var html_file =
                `<div class="alert">
                    <span class="closebtn">&times;</span>
                    <strong>Dang!</strong> Failed to send email to ${receiver}.
                    </div>`
                $('#email-status').html(html_file).fadeIn('slow')
            }
        })
    }
})
$(document).on('click', '#chat-btn', function() {
    var msg = document.getElementById('chat-msg').value
    var receiver = document.getElementById('customerEmail').value
    console.log(`msg = ${JSON.stringify(msg)}, receiver = ${receiver}`)
    if($.trim(msg) != '') {
        $.ajax({
            url : "<%= chatEndpoint %>",
            method: "POST",
            data: {'email': receiver, 'chatmsg' : msg},
            dataType: "text",
            success : function(data) {
                console.log(`data received = ${JSON.stringify(data)}`)
                document.getElementById('chat-msg').value = ""
            },
            error: function() {
                // Handle this with more interactive way -- todo --
                alert('exception')
            }
        })
    }
})
$(document).on('click', '#update-btn', function() {
    var email_of_customer = document.getElementById('updatemail').value
    var new_name = document.getElementById('id01-name').value
    var new_phone_num = document.getElementById('id01-phone').value
    var new_remainder = document.getElementById('id01-rem').value
    console.log(`new_name = ${new_name}, new_phone_num = ${new_phone_num}, new_remainder = ${new_remainder}`)
    if($.trim(email_of_customer) != '') {
        $.ajax({
            url : "<%= editEndpoint %>",
            method: "POST",
            data: {'name': new_name, 'email' : email_of_customer, "phone" : new_phone_num, "remfreq" : new_remainder},
            dataType: "text",
            success : function(data) {
                new_name = ""
                new_phone_num = ""
                new_remainder = ""
                getdashBoard() // Loading Dashboard
            },
            error: function() {
                // Handle this with more interactive way -- todo --
                alert('exception')
            }
        })
    }
})

$(document).on('click', '#delete-btn', function() {
    var email_of_customer = document.getElementById('deletemail').value
    if($.trim(email_of_customer) != '') {
        $.ajax({
            url : "<%= deleteEndpoint %>",
            method: "POST",
            data: {'email' : email_of_customer},
            dataType: "text",
            success : function(data) {
                getdashBoard() // Loading Dashboard
            },
            error: function() {
                // Handle this with more interactive way -- todo --
                alert('exception')
            }
        })
    }
})

$(document).on('click', '#insert-btn', function() {
    var email = document.getElementById('id05_email').value
    var name = document.getElementById('id05_name').value
    var phone = document.getElementById('id05_phone').value
    var gst = document.getElementById('id05_gst').value
    var remfreq = document.getElementById('id05_remfreq').value
    if($.trim(email) != '') {
        $.ajax({
            url : "<%= addEndpoint %>",
            method: "POST",
            data: {'email' : email, 'name' : name, 'phone' : phone, 'gst' : gst, 'remfreq' : remfreq},
            dataType: "text",
            success : function(data) {
                getdashBoard() // Loading Dashboard
            },
            error: function() {
                // Handle this with more interactive way -- todo --
                alert('exception')
            }
        })
    }
})

$(document).ready(function() {
    getdashBoard() // Loading Dashboard
    setInterval(function() {
        if($('#id04').css('display') === 'block') {
            var receiver = $('#customerEmail').attr('value')
            $.ajax({
                url : `<%= chatEndpoint %>/${receiver}`,
                method : "GET",
                dataType: "json",
                success: function(response) {
                    var chat = response.values
                    var html_file = ""
                    for(var i = 0; i < chat.length; i++) {
                        html_file +=
                                `<div class="chat_container ${chat[i].color}">
                                    <p> ${chat[i].msg} </p>
                                    <span class=${chat[i].time_loc}> ( ${chat[i].timestamp} ) </span>
                                </div>`
                    }
                    $('#load-chat').html(html_file).fadeIn('slow')
                }
            })
        }
    }, 1000)
})

</script>
</body>
</html>